$enable-flex: true;

$theme-colors: (
  "custom-color": #f25d00,
  "primary": #000000,
  "danger": grey,

);

$body-bg: #f0f2f5;
//$border-radius: 20px;
//#d1d1d1 <-- seda kterou jsem driv mel

$font-family-base: Oswald;


