h1 {
  text-align: center;
  padding: 20px;
}

.pic {
  width: 30rem;
  height: 25rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#popis {
  //background-color: azure;
  //border-radius: 20px;

  padding: 35px;
  margin: 20px;
  text-align-all: center;
}

#details {

}
